* {
  box-sizing: border-box;
  margin: 0;
}

.subtitle {
  text-align: center;
  font-family: "Abril Fatface", cursive;
  font-size: 24px;
  letter-spacing: 1px;
  margin-bottom: 10%;
}

.button--black-doble {
  background-color: black;
  color: white;
  display: block;
  height: 32px;
  width: 288px;
  border-radius: 10px;
  margin-left: auto;
  margin-right: auto;
  font-size: 16px;
}
.button--black-doble:hover {
  background-color: rgb(44, 44, 44);
}

.button--black-simple {
  background-color: black;
  color: white;
  height: 32px;
  width: 129px;
  font-size: 16px;
  border-radius: 8px;
}
.button--black-simple:hover {
  background-color: rgb(44, 44, 44);
}

.button--white {
  background-color: white;
  height: 32px;
  width: 129px;
  font-size: 16px;
  border-radius: 8px;
}
.button--white:hover {
  background-color: rgb(179, 177, 177);
}

.nav__link--log {
  height: 44px;
  width: 88px;
}
.nav__link--cart {
  height: 100px;
  width: 100px;
}

.section__nav--menu {
  display: none;
}

.section__principal {
  text-align: center;
}
.section__principal-paragraf {
  font-size: 16px;
  font-family: "Raleway", sans-serif;
  color: #858585;
  margin-left: auto;
  margin-right: auto;
  letter-spacing: 3px;
  margin-top: 15%;
}
.section__principal-titel {
  font-size: 32px;
  font-family: "Abril Fatface", cursive;
  letter-spacing: 3px;
  margin-top: 5%;
  margin-bottom: 10%;
}
.section__principal-btn-black {
  margin-right: 3%;
}
.section__principal-btn-white {
  margin-left: 3%;
}
.section__principal-piano {
  margin-top: 5%;
  height: 194px;
  width: 251px;
}

.section2 {
  background: linear-gradient(180deg, #FFFFFF 0%, rgba(0, 0, 0, 0.75) 37.19%, rgba(0, 0, 0, 0.75) 76.04%, #FFFFFF 100%);
  display: flex;
  flex-direction: column;
  align-items: center;
}
.section2__mov {
  height: 320px;
  border: 2px solid black;
  position: relative;
}
.section2__video {
  position: absolute;
  -o-object-fit: fill;
     object-fit: fill;
  height: 320px;
  width: 100%;
}
.section2__img1 {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}
.section2__nombrespianos {
  font-family: "Abril Fatface";
  font-style: normal;
  align-items: center;
  text-align: center;
  color: white;
  font-size: 24px;
  padding: 5px;
  margin-top: 30px;
}
.section2__valpianos {
  font-family: "Raleway";
  font-style: normal;
  align-items: center;
  text-align: center;
  color: white;
  right: 50%;
  font-size: 12px;
  padding: 5px;
}
.section2__price {
  font-family: "Abril Fatface";
  font-style: normal;
  align-items: center;
  text-align: center;
  color: white;
  font-size: 24px;
  padding: 5px;
}
.section2__paragraph {
  font-family: "Raleway";
  font-style: normal;
  align-items: center;
  text-align: center;
  color: white;
  font-size: 16px;
  font-weight: 100;
  padding: 30px;
}
.section2__features {
  font-family: "Raleway";
  font-style: normal;
  align-items: center;
  text-align: center;
  color: white;
  font-size: 15px;
  padding: 20px;
}
.section2 .button--black-doble {
  margin-bottom: 35px;
}

.container {
  background-color: linear-gradient(180deg, rgba(245, 245, 245, 0) 0%, #F5F5F5 51.56%, rgba(245, 245, 245, 0) 100%);
  justify-content: center;
  align-items: center;
  padding: 35px;
  text-align: center;
}

.card {
  background: #FFFFFF;
  box-shadow: 0px 28px 64px 12px rgba(0, 0, 0, 0.12);
  border-radius: 8px;
  border-radius: 8px;
  width: 250px;
  height: 350px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 14px;
}

.card__img {
  width: 205px;
  height: 165.86px;
  align-content: center;
}

.card__list {
  display: flex;
  align-items: center;
}

.card__list-nuevo {
  position: relative;
  left: -25px;
}

.card__list-2021 {
  position: relative;
  left: -15px;
}

.card__list-acustico {
  position: relative;
  left: 5px;
}

.card__list-m {
  position: relative;
  left: 15px;
}

.card__info {
  display: flex;
  justify-content: space-between;
}

.card__button {
  width: 36px;
  height: 36px;
  background: #000000;
  border-radius: 8px;
  border: none;
}

.card__paragraph {
  border: 1px solid black;
  border-radius: 8px;
  padding: 3px;
  font-size: 1.3rem;
}

.section__form {
  height: 100%;
  background-image: url(../../assets/img/background-image-pianista.png);
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: center;
  text-align: center;
}
.section__form--paragraf {
  text-align: center;
  font-size: 16px;
  font-family: "Raleway", sans-serif;
  margin-top: 15%;
  margin-left: 5%;
  margin-right: 5%;
  margin-bottom: 5%;
}
.section__form .form--label {
  font-size: 16px;
  font-family: "Raleway", sans-serif;
  font-weight: bold;
  display: block;
  text-align: start;
  margin-top: 10%;
  margin-bottom: 8%;
  margin-left: 5%;
}
.section__form .input-simple {
  background-color: rgba(0, 0, 0, 0.65);
  width: 288px;
  height: 36px;
  border-radius: 5px;
  border: 1px solid white;
}
.section__form .input-doble {
  background-color: rgba(0, 0, 0, 0.65);
  width: 288px;
  height: 148px;
  border-radius: 5px;
  margin-bottom: 12px;
  border: 1px solid white;
}

* {
  box-sizing: border-box;
  margin: 0;
}

@-webkit-keyframes scroll {
  0% {
    transform: translateX(150%);
  }
  100% {
    transform: translateX(-300%);
  }
}

@keyframes scroll {
  0% {
    transform: translateX(150%);
  }
  100% {
    transform: translateX(-300%);
  }
}
.section-partners {
  background: linear-gradient(177.96deg, #6F6F6F 1.72%, #FFFFFF 98.63%);
}

.subtitle {
  color: black;
  text-align: center;
}

.container-partners {
  width: 100%;
  display: flex;
  align-items: center;
  -webkit-animation: scroll 8s;
          animation: scroll 8s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
}

/* .container-partners:hover{
    animation: none;
} */
.partners {
  flex-direction: column;
}

.partners__anchor {
  height: 60px;
  text-decoration: none;
  background-color: black;
  display: flex;
  text-decoration: none;
  color: white;
  align-items: center;
  margin: 10px 26px;
  padding: 8px;
}

.partners--icon {
  background-color: darkgray;
  border-radius: 50%;
  border: 1px solid white;
  width: 40px;
  padding: 8px;
}

.partners__paragraph {
  margin: 0 25px;
  text-align: center;
}

.partners--left {
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.partners--right {
  flex-direction: row-reverse;
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.footer {
  height: 700px;
  background: linear-gradient(177.96deg, rgba(255, 255, 255, 0.43) 1.72%, #6F6F6F 107.44%);
}

.container-logos {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer-pazioli {
  margin-top: 30px;
  width: 100px;
}

.footer-redes {
  padding: 20px;
}

.footer-logo {
  margin: 0 10px;
}

.footer-nosotros {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer-nosotros--list {
  padding: 10px 0;
  list-style: none;
  text-align: center;
}

.footer-nosotros-content {
  margin-top: 10px;
}

.footer-contactanos {
  margin-top: 15px;
  text-align: center;
}

.footer-derechos {
  margin-top: 25px;
  display: flex;
  justify-content: center;
  text-decoration: none;
  color: black;
}

.footer-by {
  margin-top: 25px;
  text-align: center;
  color: black;
}

.footer__by--DevKoore {
  color: black;
  text-decoration: none;
}

.heart {
  color: red;
}

@media (min-width: 758px) {
  @-webkit-keyframes scroll-desk {
    0% {
      transform: translateX(-100%);
    }
    100% {
      transform: translateX(90%);
    }
  }
  @keyframes scroll-desk {
    0% {
      transform: translateX(-100%);
    }
    100% {
      transform: translateX(90%);
    }
  }
  .container-partners {
    display: flex;
    flex-direction: column;
    -webkit-animation: scroll-desk 10s;
            animation: scroll-desk 10s;
    -webkit-animation-timing-function: linear;
            animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite;
  }
  .partners {
    display: flex;
    flex-direction: row;
  }
  .partners--left {
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
  }
  .partners--right {
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
  }
  /* footer-desk */
  .footer {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }
  .container-logos {
    width: 33.33%;
  }
  .footer-nosotros {
    width: 33.33%;
  }
  .footer-contactanos {
    width: 33.33%;
  }
  .footer-derechos {
    width: 50%;
    position: absolute;
    transform: translateX(60%);
  }
  .footer-by {
    margin-top: 10px;
    width: 100%;
    text-align: center;
  }
} /*# sourceMappingURL=style.css.map *//*# sourceMappingURL=style.css.map */