* {
  box-sizing: border-box;
  margin: 0;
}

.subtitle {
  text-align: center;
  font-family: "Abril Fatface", cursive;
  font-size: 24px;
  letter-spacing: 3px;
  margin-bottom: 10%;
}

.button--black-doble {
  background-color: black;
  color: white;
  display: block;
  height: 32px;
  width: 288px;
  border-radius: 10px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
}

.container {
  width: 320px;
  height: 550px;
  background-color: linear-gradient(180deg, rgba(245, 245, 245, 0) 0%, #F5F5F5 51.56%, rgba(245, 245, 245, 0) 100%);
  justify-content: center;
  align-items: center;
  padding: 35px;
}

.card {
  background: #FFFFFF;
  box-shadow: 0px 28px 64px 12px rgba(0, 0, 0, 0.12);
  border-radius: 8px;
  border-radius: 8px;
  width: 250px;
  height: 350px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 14px;
}

.subtitle {
  text-align: center;
}

.card__img {
  width: 205px;
  height: 165.86px;
  align-content: center;
}

.card__list {
  display: flex;
}

.card__info {
  display: flex;
  justify-content: space-between;
}

.card__button {
  width: 36px;
  height: 36px;
  background: #000000;
  border-radius: 8px;
  border: none;
}

.card__paragraph {
  border: 1px solid black;
  border-radius: 8px;
  padding: 3px;
  font-size: 1.3rem;
}

.container__button {
  position: relative;
  left: 50%;
  transform: translate(-50%);
}

.section__form {
  height: 100%;
  background-image: url(../../assets/img/background-image-pianista.png);
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: center;
  background-size: 200%;
  text-align: center;
  height: 100vh;
}
.section__form .section__form--paragraf {
  text-align: center;
  font-size: 16px;
  font-family: "Raleway", sans-serif;
  margin-top: 15%;
  margin-left: 5%;
  margin-right: 5%;
  margin-bottom: 5%;
}
.section__form .form--label {
  font-size: 16px;
  font-family: "Raleway", sans-serif;
  font-weight: bold;
  display: block;
  text-align: start;
  margin-top: 10%;
  margin-bottom: 8%;
  margin-left: 5%;
}
.section__form .input-simple {
  background-color: rgba(0, 0, 0, 0.65);
  width: 288px;
  height: 36px;
  border-radius: 5px;
}
.section__form .input-doble {
  background-color: rgba(0, 0, 0, 0.65);
  width: 288px;
  height: 148px;
  border-radius: 5px;
  margin-bottom: 12px;
}

@-webkit-keyframes scroll {
  0% {
    transform: translateX(110%);
  }
  100% {
    transform: translateX(-300%);
  }
}

@keyframes scroll {
  0% {
    transform: translateX(110%);
  }
  100% {
    transform: translateX(-300%);
  }
}
.section-partners {
  padding: 10px;
  background: linear-gradient(177.96deg, #6F6F6F 1.72%, #FFFFFF 98.63%);
}

.subtitle {
  color: black;
  text-align: center;
}

.container-partners {
  width: 100%;
  display: flex;
  align-items: center;
}

.partners {
  flex-direction: column;
  -webkit-animation: scroll 8s;
          animation: scroll 8s;
  -webkit-animation-timing-function: ease-in;
          animation-timing-function: ease-in;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

.partners__anchor {
  text-decoration: none;
  background-color: black;
  display: flex;
  text-decoration: none;
  color: white;
  align-items: center;
  margin: 10px 26px;
  padding: 8px;
}

.partners--icon {
  background-color: darkgray;
  border-radius: 50%;
  border: 1px solid white;
  width: 40px;
  padding: 8px;
}

.partners__paragraph {
  margin: 0 25px;
  text-align: center;
}

.partners--left {
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.partners--right {
  flex-direction: row-reverse;
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}/*# sourceMappingURL=style.css.map */