@use "variables";

* {
    box-sizing: border-box;
    margin: 0;
}

.subtitle {
    text-align: center;
    font-family: variables.$abril;
    font-size: 24px;
    letter-spacing: 1px;
    margin-bottom: 5%;
}

.button--black-doble {
    background-color: black;
    color: white;
    display: block;
    height: 32px;
    width: 288px;
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
    font-size: 16px;

    &:hover {
        background-color: variables.$background-butto-black ;
    }
}

.button--black-simple {
    background-color: black;
    color: white;
    height: 32px;
    width: 129px;
    font-size: 16px;
    border-radius: 8px;

    &:hover {
        background-color: variables.$background-butto-black ;
    }

}

.button--white {
    background-color: white;
    height: 32px;
    width: 129px;
    font-size: 16px;
    border-radius: 8px;

    &:hover {
        background-color: rgb(179, 177, 177);
    }

}

@media (min-width: 1024px) {
    .subtitle {
        font-size: 32px;
        margin-bottom: 0;
    }

        .button--black-doble {
            background-color: black;
            color: white;
            display: block;
            height: 50px;
            width: 288px;
            border-radius: 10px;
            margin-left: auto;
            margin-right: auto;
            font-size: 16px;

            &:hover {
                background-color: variables.$background-butto-black ;
            }
        }

        .button--black-simple {
            background-color: black;
            color: white;
            height: 32px;
            width: 129px;
            font-size: 16px;
            border-radius: 8px;

            &:hover {
                background-color: variables.$background-butto-black ;
            }

        }

        .button--white {
            background-color: white;
            height: 32px;
            width: 129px;
            font-size: 16px;
            border-radius: 8px;

            &:hover {
                background-color: rgb(179, 177, 177);
            }

        }

}