@use 'variables';

.nav__link{

    &--log{
        height: 44px;
        width: 88px;
    }

    &--cart{
        height: 100px;
        width: 100px;
    }
}


.section__nav{

    &--menu{
        display:none
    }

}