@use "variables";
.section__form {
    width: 100%;
    background-image: url(../../assets/img/background-image-pianista.png);
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;

    &--paragraf {
        text-align: center;
        font-size: 16px;
        font-family: variables.$Raleway;
    }

    .form--label {
        font-size: 16px;
        font-family: variables.$Raleway;
        font-weight: bold;
        display: block;
        text-align: start;
        margin-top: 20px;
    }

    .input-simple {
        background-color: variables.$black-700;
        width: 288px;
        height: 36px;
        border-radius: 5px;
        border: 1px solid white;
    }

    .input-doble {
        background-color: variables.$black-700;
        width: 288px;
        height: 148px;
        border-radius: 5px;
        margin-bottom: 12px;
        border: 1px solid white;
    }
    .button--form{
        margin-bottom: 15px;
    }
}

@media (min-width: 992px) {
    .section__form {
        &--paragraf {
            text-align: center;
            font-size: 16px;
            font-family: variables.$Raleway;
            width: 500px;
        }

        .form--label {
            font-size: 16px;
            font-family: variables.$Raleway;
            font-weight: bold;
            margin-top: 20px;
            justify-content: space-around;
        }
        .label--nombre{
            margin: 20px 0;
        }
        .input-simple.input--nombre{
            display: block;
            width: 564px;
        }

        .conten__form{
            display: flex;
        }

        .input--comentario{
            background-color: variables.$black-700;
            width: 564px;
            height: 148px;
        }
        .label--comentario{
            margin: 25px 0;
        }
        
    }
}