@use "./variables";

.container-general{
    background: linear-gradient(177.96deg, 
  #e7e7e7e0 1.72%,
   #FFFFFF 98.63%);
   padding: 20px;
}
.container__card {
    justify-content: center;
    align-items: center;
    padding: 35px;
    text-align: center;
    display: flex;
    flex-direction: column;

}
.card {
    left: 34.55px;
    top: 1522px;
    background: #ffffff;
    box-shadow: 0px 28px 64px 12px rgba(0, 0, 0, 0.12);
    border-radius: 8px;
    border-radius: 8px;
    width: 250px;
    height: 350px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 14px;
    margin-bottom: 15px;
}

.card__title {
    font-family: "Abril Fatface";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
}

.card__img {
    width: 205px;
    height: 165.86px;
    align-content: center;
    border-bottom: 1px dashed #dbdbdb;
}

.card__list {
    display: flex;
    font-family: "Raleway";
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 22px;
    list-style-position: inherit;
    padding: 0;
}

.card__list-nuevo {
    list-style-type: none;
}

.card__info {
    display: flex;
}

.card__button {
    width: 36px;
    height: 36px;
    background: #000000;
    border-radius: 8px;
    border: none;
}

.card__paragraph {
    border: 1px solid black;
    border-radius: 8px;
    padding: 3px;
    font-size: 1.3rem;
    font-family: "Raleway";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.05em;
}
.center-button{
    display: flex;
    justify-content: center;
}


@media (min-width: 992px) {
    .container__card {
        flex-direction: row;
        justify-content: space-around;
        
    }

    .subtitle-card {
        align-content: center;
    }

    .card {
        width: 280px;
        height: 260px;
        margin-bottom: 0px;
    }

    .card__img {
        position: relative;
        top: -45%;
        transform: translateX(5%)translateY(40%);
        border-bottom: 0;
    }
    .card__title{
        padding: 5px;
        width: 100%;
        margin-top: -8%;
        border-top: 1px dashed #dbdbdb;
        border-collapse: separate;
    }
    .card__list{
        width: 100%;
        justify-content: space-between;
    }
    .card__info{
        width: 100%;
        justify-content: space-around;
    }
}