@use './variables';


@keyframes scroll {
  0% {
    transform: translateX(150%);
  }
  100% {
    transform: translateX(-100.01%);
  }
}

@keyframes scroll-desk {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(90%);
  }
}

.section-partners {
  background: linear-gradient(177.96deg, 
  #b9b8b8 1.72%,
   #a7a7a7 98.63%);
   background-size:contain;
   background-size: cover;


  .container-partners {
    width: 100%;
    padding: 10px;
    display: flex;
    align-items: center;
    animation: scroll 8s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;

    &:hover{
      animation-play-state: paused;
  } 
  }

  .subtitle_partners{
    margin-bottom: 20px ;
  }

  .partners {
    flex-direction: column;

    &__anchor {
      height: 60px;
      text-decoration: none;
      background-color: rgb(0, 0, 0);
      display: flex;
      color: white;
      align-items: center;
      margin: 10px 26px;
      padding: 8px;
    }
    &--left {
      border-top-left-radius: 50px;
      border-bottom-left-radius: 50px;
      border-top-right-radius: 10px;
      border-bottom-right-radius: 10px;
    }
    
    &--right {
      flex-direction: row-reverse;
      border-top-right-radius: 50px;
      border-bottom-right-radius: 50px;
      border-top-left-radius: 10px;
      border-bottom-left-radius: 10px;
    }
    &--icon {
      background-color: darkgray;
      border-radius: 50%;
      border: 1px solid white;
      width: 40px;
      height: 48px;
      padding: 8px;
   }

   &__paragraph {
    margin: 0 25px;
    text-align: center;
    font-family: variables.$Raleway;
    font-weight: 400;
  }
  }
}

@media (min-width: 992px) {
  .container-partners {
    flex-direction: column;
    animation: scroll-desk 10s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;

    .partners {
      display: flex;
      flex-direction: row;

      &--right {
        border-top-left-radius: 50px;
        border-bottom-left-radius: 50px;
      }
      &--left {
        border-top-right-radius: 50px;
        border-bottom-right-radius: 50px;
      }
    }
  }
  
}